.container {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: #7d1523;
  padding-bottom: 30px;
}

.content {
  width: 95%;
  margin: 0 auto;
}

.contents {
  margin: 0 auto;
  font-size: 30px;
  color: rgb(177, 174, 174);
}

.contentl {
  margin: 0 auto;
  margin-left: 144px;
  margin-top:20px;
  font-size: 20px;
}

.xinxi {
  font-size: 20px;
  font-weight: 500;
  color: rgb(247, 244, 244);
}

.images {
  margin: 10px;
  width: 60%;
  height: 60%;
}

.boxs {
  border-radius: 10px;
}

.titles{
  color: black;
  font-weight: 500;
}