<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="qingcai" value="http://pack.4000871428.com/nuget/qcnuget/" />
  </packageSources>
  <disabledPackageSources>
    <add key="qingcai" value="true" />
  </disabledPackageSources>
</configuration>